html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.container{
	display: flex;
	width: 90%;
	align-items: stretch;
	margin: 0 auto;
	flex-direction: column;
}

.content {
	display: flex;
}

.left-right-block {
	font-size: 20px;
	color: black;
	background-color: yellow;
	width: 150px;
	flex-shrink: 0;
	border: 2px solid black;
}

.left-right-block:hover {
	background-color: CCCCFF;
}

.main-block {
	background-color: white;
	width: 100%;
	border: 2px solid black;
}

.main-block:hover {
	background-color: CCCCFF;
}

.top-down-block {
	font-size: 24px;
	color: white;
	background-color: blue;
	height: 100px;
	border: 2px solid black;
}

.top-down-block:hover {
	background-color: CCCCFF;
}
